<h1>Songs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.order('title').each do |song| %>
      <tr>
        <td>
          <%= song.title %>
        </td>
        <td>
          <%= song.artist.try(:name) %>
        </td>
        <td class="text-center">
          <%= link_to fa_icon('eye', text: 'Show'), song %>
        </td>
        <td class="text-center">
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_song_path(song) %>
        </td>
        <td class="text-center">
          <%= link_to fa_icon('trash-o', text: 'Delete'), song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <button class="btn btn-sm btn-default">
    <%= link_to 'New Song', new_song_path %>
  </button>
</div>