<h1>Listing Vets</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Clinic name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vets.order('clinic_name').each do |vet| %>
      <tr>
        <td><%= vet.doctor %></td>
        <td><%= vet.clinic_name %></td>
        <td><%= vet.phone %></td>
        <td><%= link_to fa_icon('eye', text: 'Show Vet'), vet %></td>
        <td><%= link_to fa_icon('pencil', text: 'Edit Vet'), edit_vet_path(vet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vet', new_vet_path, class: "btn btn-info btn-sm" %>
