<h1>All Our Dogs
<%= link_to 'New Dog', new_dog_path, class: "btn btn-info btn-xs" %></h1>
<!-- Dog Search Box -->
<%= form_tag("/dogs", method: :get, role: 'search', class: 'form-inline' ) do %>
  <div class="form-group">
    <%= text_field_tag(:search, nil, placeholder: 'Fido', class: 'form-control input-sm') %>
  </div>
  <%= submit_tag('Search', class: 'btn btn-success btn-xs') %>
<% end %>


<!-- Loop to generate breed filter buttons -->
<% @breeds.each do |breed| %>
  <a href="?breed_id=<%= breed.id %>", class='btn btn-default btn-xs'><%= breed.breed_name %></a>
<% end %>

<hr>
<div class="row">
  <% @dogs.order('in_daycare DESC').each do |dog| %>
    <div class="col-xs-6 col-md-4">
      <div class="panel <%= dog.in_daycare ? 'panel-success' : 'panel-default' %> ">
        <div class="panel-heading">
          <h3 class="panel-title"><%= dog.name %> <%= dog.owner.last_name %> </h3>
        </div>
        <div class="panel-body">
          <%= form_for(dog, url: dog_path(dog), html: {class: 'form-inline text-center'}) do |f| %>
            <% if dog.in_daycare %>
              <%= f.hidden_field :in_daycare, value: false %>
              <%= f.submit "Check Out", class: 'btn btn-primary btn-sm'  %>
            <% else %>
              <%= f.hidden_field :in_daycare, value: true %>
              <%= f.submit "Check In", class: 'btn btn-success btn-sm' %>
            <% end %>
          <% end %>
          <%= image_tag dog.avatar.url(:medium), class: 'img-responsive img-circle center-block' %>
          <p class="text-center">
            <%= link_to fa_icon('eye lg', text: 'Show Dog'), dog, class: "btn btn-info btn-sm" %>
            <%= link_to fa_icon('pencil lg', text: 'Edit Dog'), edit_dog_path(dog), class: "btn btn-info btn-sm" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
