<div class="row" id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav text-center">
      <%= link_to fa_icon('pencil lg', text: 'Edit Dog'), edit_dog_path(@dog), class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('trash-o lg', text: 'Delete Dog'), @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-sm" %>
      <%= link_to fa_icon('list lg', text: 'All Dogs'), dogs_path, class: "btn btn-info btn-sm" %>
    </ul>
  </div>
  <br>
  <div class="row row-centered">
    <div class="col-xs-12 col-centered">
      <%= image_tag @dog.avatar.url(:medium), class: "img-responsive img-circle center-block" %>

      <hr>

      <h2 class="text-center"><%= @dog.name %> <%= @dog.owner.last_name %>
      <br>
      <small class="btn btn-sm <%= @dog.in_daycare ? 'btn-success' : 'btn-info' %> ">In Daycare</small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <p>
        <strong>Owner:</strong>
        <%= link_to @dog.owner.display_name, owner_path(@dog.owner_id) %>
      </p>
       <p>
        <strong>Dob:</strong>
        <%= @dog.dob.stamp( 'April 29, 1976' ) %>
      </p>
      <p>
        <strong>Breed:</strong>
        <%= @dog.breed.breed_name %>
      </p>
    </div>
    <div class="col-sm-6 text-center">
      <p>
        <strong>Vet:</strong>
        <%= link_to @dog.vet.doctor, vet_path(@dog.vet_id) %>
      </p>
      <p>
        <strong>Med cond:</strong>
        <%= @dog.med_cond %>
      </p>
    </div>
  </div>
</div>

